

    .wp-block-search__label{
 
        display: none !important;
    }
    .wp-block-search__input{
        font-size: 0.813rem;
        padding: 0.5rem !important;
        min-width: 180px;
    }
    .wp-block-search__button{
        .entry-content & {
            // background-color: var(--wp--preset--color--base-3)!important;
            border: 1px solid var(--wp--preset--color--contrast-2)!important;
   
        }
        border:none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 2.5rem;
     
        color:var(--wp--preset--color--contrast-2)!important;
  
        .site-header &{
            border:none;
        }
    }


    .wp-block-search.rmpro-search{


        .wp-block-search__button{
             background:transparent;
             border: 1px solid black;
             font-size: 0.938rem;
         }
         .wp-block-search__input{
             background: white !important;
             border : 1px solid var(--wp--preset--color--base) !important;
         }
          
     }

     body.search-visible{
        form[role="search"] +div , form[role="search"] + div + div{
            display: none;
        }
     }
