@charset "UTF-8";
.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

/*-------------------------
FAQ
-------------------------*/
details summary {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.125rem;
}

/* Masquer le marqueur par défaut */
details summary::marker {
  content: "";
  display: none;
}

/* Ajouter un nouveau marqueur personnalisé */
details summary::after {
  content: ""; /* Vous pouvez utiliser n'importe quel caractère ou icône ici */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEyIDZMOCAxMEw0IDYiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 8px; /* Ajuster l'espacement selon vos besoins */
  color: #000; /* Ajuster la couleur selon vos besoins */
}

/* Styliser le marqueur lorsque le détail est ouvert */
details[open] summary::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEyIDEwTDggNkw0IDEwIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+");
}

.wp-block-search__label {
  display: none !important;
}

.wp-block-search__input {
  font-size: 0.813rem;
  padding: 0.5rem !important;
  min-width: 180px;
}

.wp-block-search__button {
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2.5rem;
  color: var(--wp--preset--color--contrast-2) !important;
}
.entry-content .wp-block-search__button {
  border: 1px solid var(--wp--preset--color--contrast-2) !important;
}
.site-header .wp-block-search__button {
  border: none;
}

.wp-block-search.rmpro-search .wp-block-search__button {
  background: transparent;
  border: 1px solid black;
  font-size: 0.938rem;
}
.wp-block-search.rmpro-search .wp-block-search__input {
  background: white !important;
  border: 1px solid var(--wp--preset--color--base) !important;
}

body.search-visible form[role=search] + div, body.search-visible form[role=search] + div + div {
  display: none;
}

.yoast-breadcrumbs {
  font-size: 0.813rem;
  line-height: 1.3;
}

.woocommerce-breadcrumb {
  font-size: 0.813rem;
  line-height: 1.3;
}

.rmpro-ariane {
  font-size: 0.813rem;
  line-height: 1.3;
}
.rmpro-ariane a {
  color: inherit;
}

.woocommerce-Tabs-panel h2 {
  font-size: var(--wp--preset--font-size--h-3);
}

.wp-block-button__link {
  transition: all 0.4s;
}

.wp-block-cover.is-style-default .wp-block-button__link:hover {
  background: var(--wp--preset--color--black);
  color: white;
}

.wp-block-gallery.is-style-slider-1, .wp-block-gallery.is-style-slider-1-square {
  position: relative;
  flex-basis: 100%;
}
.wp-block-gallery.is-style-slider-1 .slick-dots, .wp-block-gallery.is-style-slider-1-square .slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.wp-block-gallery.is-style-slider-1 .slick-dots button, .wp-block-gallery.is-style-slider-1-square .slick-dots button {
  cursor: pointer;
  font-size: 0;
  border-radius: 100%;
  background: var(--wp--preset--color--base);
  height: 1.313rem;
  width: 1.313rem;
  border: none;
}
.wp-block-gallery.is-style-slider-1 .slick-dots .slick-active button, .wp-block-gallery.is-style-slider-1-square .slick-dots .slick-active button {
  background: var(--wp--preset--color--accent);
}

.wp-block-gallery.is-style-slider-1 img {
  aspect-ratio: 16/9;
}

.wp-block-gallery.is-style-slider-1-square img {
  aspect-ratio: 1;
}

.wc-block-components-product-sale-badge {
  background-color: var(--wp--preset--color--accent) !important;
  border: none !important;
  font-size: var(--wp--preset--font-size--s);
  border-radius: 2rem !important;
  padding: 0.333em 1em !important;
  right: auto !important;
  left: 0.75rem !important;
  top: 0.75rem !important;
}

.wc-block-product-template {
  position: relative;
}

p.with-arrow > a {
  text-decoration: none;
}
p.with-arrow > a:hover:after {
  transform: translateX(0.1em);
}
p.with-arrow > a:after {
  transition: all 0.4s;
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(assets/images/arrow-right-1.svg);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: 0.2em;
}

.arrow-label {
  font-size: 1rem;
  background-image: url(assets/images/prev.svg);
  background-size: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--wp--preset--color--contrast-2);
  color: var(--wp--preset--color--base-3);
  border-radius: 2rem;
  width: 2rem;
  height: 1.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  cursor: pointer;
}
.arrow-label:hover {
  background-color: var(--wp--preset--color--accent);
}

.custom-prev.slick-arrow {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(calc(-100% - 1.5rem)) translateX(calc(-200% - 0.625rem));
}
@media (max-width: 600px) {
  .custom-prev.slick-arrow {
    transform: translateY(calc(-100% - 0.5rem)) translateX(calc(-200% - 0.625rem));
  }
}

.custom-next.slick-arrow {
  background-image: url(assets/images/next.svg);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(calc(-100% - 1.5rem)) translateX(-100%);
}
@media (max-width: 600px) {
  .custom-next.slick-arrow {
    transform: translateY(calc(-100% - 0.5rem)) translateX(-100%);
  }
}

.slider-5-3-1 .wc-block-product {
  padding: 1rem;
}

.up-sells h2 {
  font-size: var(--wp--preset--font-size--h-3);
}
.up-sells .product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.up-sells .product a {
  color: inherit;
}
.up-sells .product a .woocommerce-loop-product__title {
  color: inherit;
  font-size: var(--wp--preset--font-size--h-4);
}
.up-sells .product a h2 {
  text-align: center;
}
.up-sells .product a .price {
  text-align: center;
}
.up-sells .product .add_to_cart_button {
  display: none !important;
}

.is-style-section-style2 .is-style-outline .wp-block-button__link {
  transition: all 0.4s;
  color: white;
}
.is-style-section-style2 .is-style-outline .wp-block-button__link:hover {
  color: var(--wp--preset--color--contrast-2);
  background-color: var(--wp--preset--color--accent);
}

.is-style-section-style4 .wp-block-button__link {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.is-style-section-style4 .wp-block-button__link:hover {
  background: black;
  color: white;
}

@media (max-width: 600px) {
  .ng1-media-text .wp-block-cover {
    max-width: 95vw;
  }
  .ng1-media-text:nth-of-type(2n+1) .wp-block-columns {
    flex-direction: column-reverse !important;
  }
  .ng1-media-text:nth-of-type(2n+1) .wp-block-columns:has(.wp-block-gallery) {
    flex-direction: row !important;
  }
  .ng1-media-text .wp-block-column.is-vertically-aligned-center {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .ng1-media-text .wp-block-column.is-vertically-aligned-center {
    align-self: auto !important;
  }
}
.woocommerce span.onsale {
  background-color: var(--wp--preset--color--accent) !important;
  color: var(--wp--preset--color--contrast-2);
  padding: 0.333em 1em !important;
  line-height: 1.5;
  min-height: auto;
  border-radius: 2em;
  font-size: var(--wp--preset--font-size--s);
  font-weight: normal;
  top: 0.75em;
  left: 0.75em !important;
}

body.produit-a-la-vente .wp-block-add-to-cart-form + .wp-block-buttons {
  display: none;
}

table.variations select {
  border: 1px solid black !important;
}
table.variations th {
  padding-top: 1rem;
  vertical-align: top !important;
}

@media (min-width: 768px) {
  .wp-block-woocommerce-product-details .wc-tabs {
    border-bottom: 1px solid black !important;
  }
  .wp-block-woocommerce-product-details .description_tab a {
    font-size: var(--wp--preset--font-size--s) !important;
    font-weight: normal !important;
    padding: 0.5rem 1rem !important;
  }
  .wp-block-woocommerce-product-details li[class*=_tab].active {
    background: black !important;
    color: white !important;
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
  }
}
.wp-block-post-excerpt__excerpt {
  line-height: 1.2;
}

.taxonomy-product_cat.wp-block-post-terms a {
  color: inherit;
  text-decoration: none;
}

.single_add_to_cart_button {
  background-color: var(--wp--preset--color--accent);
  color: black;
  transition: all 0.4s;
}
.single_add_to_cart_button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .tabs.wc-tabs .has-anchor {
    font-size: var(--wp--preset--font-size--l);
    display: flex !important;
    justify-content: space-between;
    border-bottom: 1px solid var(--wp--preset--color--base) !important;
  }
  .tabs.wc-tabs .has-anchor:after {
    transform: rotate(45deg);
    background-image: url(assets/images/close.svg) !important;
  }
}
/* Afficher la liste uniquement s'il y a plus d'un élément <li> */
ul.tabs.wc-tabs li + li {
  /* Si au moins deux <li> existent, affiche leur parent */
  counter-reset: showTabs;
}

ul.tabs.wc-tabs li + li ~ ul.tabs.wc-tabs {
  display: block !important;
}

.single-product .woocommerce table.variations tr td select {
  font-size: 1rem;
  padding: 0.5em !important;
  height: auto;
}
.single-product .woocommerce table.variations th, .single-product .woocommerce table.variations td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.single-product .reset_variations {
  color: inherit;
}
.single-product .stock.out-of-stock {
  background-color: var(--wp--preset--color--vivid-red, #bc3333);
  color: white;
  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  display: inline-flex;
}

.wc-block-components-product-sku {
  word-break: normal !important;
}

.up-sells h2 {
  margin-top: 9rem;
}
.up-sells a {
  color: var(--wp--preset--color--contrast-2) !important;
}
.up-sells img {
  max-width: 300px;
}
.up-sells .wp-element-button {
  display: none !important;
}

.woocommerce-cart .ng1-cart__cols {
  display: flex;
  justify-content: stretch;
  -moz-column-gap: clamp(2%, 10vw, 120px);
       column-gap: clamp(2%, 10vw, 120px);
  row-gap: 3.5rem;
}
@media (max-width: 800px) {
  .woocommerce-cart .ng1-cart__cols {
    flex-wrap: wrap;
  }
}
.woocommerce-cart .ng1-cart__cols .product-total, .woocommerce-cart .ng1-cart__cols th {
  vertical-align: top !important;
}
.woocommerce-cart .ng1-cart__cols .woocommerce-notices-wrapper {
  width: 100%;
}
.woocommerce-cart .ng1-cart__cols .cart_totals h2 {
  font-size: var(--wp--preset--font-size--small);
  font-family: var(--wp--preset--font-family--first);
  margin: 0 !important;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-cart .ng1-cart__cols a.shipping-calculator-button {
  color: var(--wp--preset--color--contrast-2);
}
.woocommerce-cart .ng1-cart__cols tr:not(.order-total) th {
  font-weight: 400;
  font-size: var(--wp--preset--font-size--small);
}
.woocommerce-cart .ng1-cart__cols .ng1-cart__col--a {
  width: 705px;
  min-width: min(100% - 2rem, 360px);
}
.woocommerce-cart .ng1-cart__cols .ng1-cart__col--b {
  width: 100%;
}
@media (min-width: 800px) {
  .woocommerce-cart .ng1-cart__cols .ng1-cart__col--b {
    max-width: 375px;
  }
}
.woocommerce-cart table.shop_table {
  border: none !important;
}

.ng1-cart__item {
  display: flex;
  flex: 120px 1;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.ng1-cart__qty {
  width: 150px;
}
.ng1-cart__img {
  height: 120px;
  width: 120px;
}
.ng1-cart__img img {
  width: 100% !important;
}
.ng1-cart__name {
  font-size: var(--wp--preset--font-size--l);
  text-decoration: none;
  color: inherit;
  font-family: var(--wp--preset--font-family--second);
}
.ng1-cart__remove__link {
  color: var(--wp--preset--color--contrast-2);
  text-decoration: none;
}

.checkout-button, button[type=submit] {
  font-size: var(--wp--preset--font-size--xs);
  padding-top: var(--wp--preset--spacing--2);
  padding-right: var(--wp--preset--spacing--2);
  padding-bottom: var(--wp--preset--spacing--2);
  padding-left: var(--wp--preset--spacing--2);
  border-radius: 3rem !important;
  text-transform: uppercase;
}

.checkout-button {
  font-size: var(--wp--preset--font-size--xs) !important;
  background-color: var(--wp--preset--color--accent) !important;
  color: var(--wp--preset--color--contrast) !important;
}
.checkout-button:hover {
  background: var(--wp--preset--color--contrast-2) !important;
  color: var(--wp--preset--color--base-3) !important;
}

.cross-sells h2 {
  font-family: var(--wp--preset--font-family--first);
  font-size: var(--wp--preset--font-size--h-4);
}
.cross-sells a {
  color: var(--wp--preset--color--contrast-2) !important;
}
.cross-sells img {
  max-width: 300px;
}
.cross-sells .wp-element-button {
  display: none !important;
}

.woocommerce-checkout h3 {
  font-size: var(--wp--preset--font-size--h-5) !important;
  font-weight: normal;
  font-family: var(--wp--preset--font-family--first);
}

.page-template-wp-custom-page-de-texte h1, .page-template-wp-custom-page-de-texte h2, .page-template-wp-custom-page-de-texte h3 {
  font-size: var(--wp--preset--font-size--h-4) !important;
  font-family: var(--wp--preset--font-family--first) !important;
}
.page-template-wp-custom-page-de-texte a {
  color: inherit;
}

.woocommerce-account main {
  font-size: var(--wp--preset--font-size--m);
}
.woocommerce-account main a {
  color: inherit;
}
.woocommerce-account main h2 {
  font-size: var(--wp--preset--font-size--l);
  font-family: var(--wp--preset--font-family--first);
}
.woocommerce-account main .wp-element-button {
  border-radius: 3rem !important;
  background-color: var(--wp--preset--color--accent) !important;
  color: black;
  transition: all 0.4s;
}
.woocommerce-account main .wp-element-button:hover {
  background-color: black !important;
  color: white;
}

.woocommerce-order-received main {
  padding-top: 3.5rem;
  padding-bottom: 7.5rem;
}
.woocommerce-order-received .wp-block-woocommerce-order-confirmation-status {
  background-color: black;
  color: white;
  padding: 1em;
  box-sizing: border-box;
}
.woocommerce-order-received .wp-block-woocommerce-order-confirmation-totals-wrapper {
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.woocommerce-order-received .wp-block-woocommerce-order-confirmation-additional-information {
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: var(--wp--preset--font-size--l);
  text-align: center;
}

.shortcode-category-cards p {
  display: none;
}
.shortcode-category-cards__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.2em;
}
@media (max-width: 600px) {
  .shortcode-category-cards__items {
    grid-template-columns: 1fr 1fr;
  }
}
.shortcode-category-cards__item {
  margin-bottom: 1.25em;
}
.shortcode-category-cards__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  gap: 1.25em;
}
.shortcode-category-cards__name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--wp--preset--font-size--medium) !important;
}
.shortcode-category-cards__img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.ng1-product-categories__submenu .ng1-product-categories__item[data-count="0"] {
  display: none;
}

.admin-hidden {
  display: none !important;
}