@charset "UTF-8";
.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

/*-------------------------
FAQ
-------------------------*/
details summary {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.125rem;
}

/* Masquer le marqueur par défaut */
details summary::marker {
  content: "";
  display: none;
}

/* Ajouter un nouveau marqueur personnalisé */
details summary::after {
  content: ""; /* Vous pouvez utiliser n'importe quel caractère ou icône ici */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEyIDZMOCAxMEw0IDYiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 8px; /* Ajuster l'espacement selon vos besoins */
  color: #000; /* Ajuster la couleur selon vos besoins */
}

/* Styliser le marqueur lorsque le détail est ouvert */
details[open] summary::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEyIDEwTDggNkw0IDEwIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+");
}

.wp-block-search__label {
  display: none !important;
}

.wp-block-search__input {
  font-size: 0.813rem;
  padding: 0.5rem !important;
  min-width: 180px;
}

.wp-block-search__button {
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2.5rem;
  color: var(--wp--preset--color--contrast-2) !important;
}
.entry-content .wp-block-search__button {
  border: 1px solid var(--wp--preset--color--contrast-2) !important;
}
.site-header .wp-block-search__button {
  border: none;
}

.wp-block-search.rmpro-search .wp-block-search__button {
  background: transparent;
  border: 1px solid black;
  font-size: 0.938rem;
}
.wp-block-search.rmpro-search .wp-block-search__input {
  background: white !important;
  border: 1px solid var(--wp--preset--color--base) !important;
}

body.search-visible form[role=search] + div, body.search-visible form[role=search] + div + div {
  display: none;
}

.yoast-breadcrumbs {
  font-size: 0.813rem;
  line-height: 1.3;
}

.woocommerce-breadcrumb {
  font-size: 0.813rem;
  line-height: 1.3;
}

.rmpro-ariane {
  font-size: 0.813rem;
  line-height: 1.3;
}
.rmpro-ariane a {
  color: inherit;
}

.woocommerce-Tabs-panel h2 {
  font-size: var(--wp--preset--font-size--h-3);
}

.up-sells h2 {
  font-size: var(--wp--preset--font-size--h-3);
}
.up-sells .product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.up-sells .product a {
  color: inherit;
}
.up-sells .product a .woocommerce-loop-product__title {
  color: inherit;
  font-size: var(--wp--preset--font-size--h-4);
}
.up-sells .product a h2 {
  text-align: center;
}
.up-sells .product a .price {
  text-align: center;
}
.up-sells .product .add_to_cart_button {
  display: none !important;
}

.is-style-section-style2 .is-style-outline .wp-block-button__link {
  transition: all 0.4s;
  color: white;
}
.is-style-section-style2 .is-style-outline .wp-block-button__link:hover {
  color: var(--wp--preset--color--contrast-2);
  background-color: var(--wp--preset--color--accent);
}

@media (max-width: 600px) {
  .ng1-media-text:nth-of-type(2n+1) .wp-block-columns {
    flex-direction: column-reverse !important;
  }
  .ng1-media-text .wp-block-column.is-vertically-aligned-center {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .ng1-media-text .wp-block-column.is-vertically-aligned-center {
    align-self: auto !important;
  }
}
table.variations select {
  border: 1px solid black !important;
}
table.variations th {
  padding-top: 1rem;
  vertical-align: top !important;
}

@media (min-width: 768px) {
  .wp-block-woocommerce-product-details .wc-tabs {
    border-bottom: 1px solid black !important;
  }
  .wp-block-woocommerce-product-details .description_tab a {
    font-size: var(--wp--preset--font-size--s) !important;
    font-weight: normal !important;
    padding: 0.5rem 1rem !important;
  }
  .wp-block-woocommerce-product-details .description_tab.active {
    background: black !important;
    color: white !important;
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
  }
}
.wp-block-post-excerpt__excerpt {
  line-height: 1.2;
}

.taxonomy-product_cat.wp-block-post-terms a {
  color: inherit;
  text-decoration: none;
}

.single_add_to_cart_button {
  background-color: var(--wp--preset--color--accent);
  color: black;
  transition: all 0.4s;
}
.single_add_to_cart_button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .tabs.wc-tabs .has-anchor {
    font-size: var(--wp--preset--font-size--h-4);
    display: flex !important;
    justify-content: space-between;
    border-bottom: 1px solid var(--wp--preset--color--base) !important;
  }
  .tabs.wc-tabs .has-anchor:after {
    transform: rotate(45deg);
    background-image: url(assets/images/close.svg) !important;
  }
}
/* Masquer l'ensemble de la liste si elle contient un seul élément <li> */
ul.tabs.wc-tabs {
  display: none;
}

/* Afficher la liste uniquement s'il y a plus d'un élément <li> */
ul.tabs.wc-tabs li + li {
  /* Si au moins deux <li> existent, affiche leur parent */
  counter-reset: showTabs;
}

ul.tabs.wc-tabs li + li ~ ul.tabs.wc-tabs {
  display: block !important;
}

.single-product .woocommerce table.variations tr td select {
  font-size: 1rem;
  padding: 0.5em !important;
  height: auto;
}
.single-product .woocommerce table.variations th, .single-product .woocommerce table.variations td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.single-product .reset_variations {
  color: inherit;
}
.single-product .stock.out-of-stock {
  background-color: var(--wp--preset--color--vivid-red, #bc3333);
  color: white;
  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  display: inline-flex;
}

.woocommerce-cart .ng1-cart__cols {
  margin-top: 3.5rem;
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: stretch;
  -moz-column-gap: clamp(2%, 10vw, 120px);
       column-gap: clamp(2%, 10vw, 120px);
  row-gap: 3.5rem;
  padding: 1rem;
}
@media (max-width: 800px) {
  .woocommerce-cart .ng1-cart__cols {
    flex-wrap: wrap;
  }
}
.woocommerce-cart .ng1-cart__cols .product-total, .woocommerce-cart .ng1-cart__cols th {
  vertical-align: top !important;
}
.woocommerce-cart .ng1-cart__cols .woocommerce-notices-wrapper {
  width: 100%;
}
.woocommerce-cart .ng1-cart__cols .cart_totals h2 {
  font-size: var(--wp--preset--font-size--small);
  font-family: var(--wp--preset--font-family--first);
  margin: 0 !important;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-cart .ng1-cart__cols a.shipping-calculator-button {
  color: var(--wp--preset--color--contrast-2);
}
.woocommerce-cart .ng1-cart__cols tr:not(.order-total) th {
  font-weight: 400;
  font-size: var(--wp--preset--font-size--small);
}
.woocommerce-cart .ng1-cart__cols .ng1-cart__col--a {
  width: 705px;
  min-width: 360px;
}
.woocommerce-cart .ng1-cart__cols .ng1-cart__col--b {
  width: 100%;
}
@media (min-width: 800px) {
  .woocommerce-cart .ng1-cart__cols .ng1-cart__col--b {
    max-width: 375px;
  }
}
.woocommerce-cart table.shop_table {
  border: none !important;
}

.ng1-cart__item {
  display: flex;
  flex: 120px 1;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.ng1-cart__qty {
  width: 150px;
}
.ng1-cart__img {
  height: 120px;
  width: 120px;
}
.ng1-cart__img img {
  width: 100% !important;
}
.ng1-cart__name {
  font-size: var(--wp--preset--font-size--l);
  text-decoration: none;
  color: inherit;
  font-family: var(--wp--preset--font-family--second);
}
.ng1-cart__remove__link {
  color: var(--wp--preset--color--contrast-2);
  text-decoration: none;
}

.checkout-button, button[type=submit] {
  font-size: var(--wp--preset--font-size--xs);
  padding-top: var(--wp--preset--spacing--2);
  padding-right: var(--wp--preset--spacing--2);
  padding-bottom: var(--wp--preset--spacing--2);
  padding-left: var(--wp--preset--spacing--2);
  border-radius: 3rem !important;
  text-transform: uppercase;
}

.checkout-button {
  font-size: var(--wp--preset--font-size--xs) !important;
  background-color: var(--wp--preset--color--accent) !important;
  color: var(--wp--preset--color--contrast) !important;
}
.checkout-button:hover {
  background: var(--wp--preset--color--contrast-2) !important;
  color: var(--wp--preset--color--base-3) !important;
}

.admin-hidden {
  display: none !important;
}