.page-template-wp-custom-page-de-texte{
h1,h2,h3{
   font-size: var(--wp--preset--font-size--h-4)!important; 
    font-family: var(--wp--preset--font-family--first)!important;
}
a{
    color:inherit;
}
   
}

