<!-- wp:template-part {"slug":"header","theme":"theme-rmpro"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|6","bottom":"var:preset|spacing|8","right":"var:preset|spacing|2","left":"var:preset|spacing|2"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--6);padding-right:var(--wp--preset--spacing--2);padding-bottom:var(--wp--preset--spacing--8);padding-left:var(--wp--preset--spacing--2)"><!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":"1024px"}} -->
    <div class="wp-block-group alignwide"><!-- wp:woocommerce/store-notices /-->
    
    <!-- wp:post-content {"align":"wide"} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/page-content-wrapper -->
    
    <!-- wp:template-part {"slug":"footer","theme":"theme-rmpro"} /-->